=render 'items/header'

.wrapper
  = link_to post_path(@posts.ids), class: "postBox", method: :get do
    .contents
      - @posts.each do |post|
        .contents__title
          = post.title
        .contents__btnBox
          = #link_to "削除", post_path(post.id), method: :delete
    .userBox
      - @users.each do |user|
        .userItems
          = user.username