=render 'items/header'

.wrapper
  .postBox
    .userName
      - @users.each do |user|
        = user.username
    .contents
      - @posts.each do |post|
        .contents__title
          = post.title
        .contents__btnBox
          = link_to "詳細", post_path(post.id)
          = link_to "削除", post_path(post.id), method: :delete