.formBox {
  width: 1000px;
  height: 1000px;
  .post {
    width: 200px;
    height: 90px;
    background-color: lightsteelblue;
  }
  .formNew {
    width: 500px;
    height: 600px;
    .formInput {
      width: 500px;
      height: 400px;
    }
  }
}
