.main {
  .formTitle {
    width: 100%;
    height: 30px;
  }
  .formBox {
    display: flex;
    .formContents {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 10px;
      .formInput {
        height: 200px;
      }
    }
    .formPreview {
      display: flex;
      flex-direction: column;
      margin: 10px;
      #markdownPreview1,
      #markdownPreview2,
      #markdownPreview3,
      #markdownPreview4 {
        width: 700px;
        height: 215px;
        margin-top: 20px;
        overflow: scroll;
        background-color: #fbebd4;
      }
    }
  }
}
