.posts {
  padding: 15px;
  &__title {
    font-size: 30px;
    padding: 10px 10px 10px 0;
    border-bottom: 3px solid;
  }
  &__name {
    font-size: 18px;
    width: 800px;
    padding: 12px 12px 12px 0px;
    margin-bottom: 20px;
  }
  &__box {
    font-size: 17px;
    margin-bottom: 10px;
  }
  &__boxTitle {
    font-size: 20px;
    padding: 5px 10px 5px 5px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: #f7e494;
  }
  .CodeRay {
    padding-left: 10px;
  }
}
